{% extends 'base.html' %}


{% block title %} Register {% endblock %}

{% block content%}
	<div class="container">
			<div class="row">
				<div class="col-6 offset-3">
					<h1 class="text-center my-3">Register</h1>
					{% if error == True %}
						<p class="text-danger">Invalid user credentials, please check your username and password</p>
					{% endif %}
					<form action="{% url 'todolist:register' %}" method="post">
						<!-- This template tag provides protection against Cross Site Request Forgeries (CSRF) -->
						<!-- CSRF occurs when a malicious website contains a link, a form button or some JavaScript that is intended to perform some action our website, using the credentials of a logged-in user -->
						{% csrf_token %}

						<div class="mb-3">
						    <label for="username">Username: </label>
						    <input class="form-control" id="username" type="text" name="username" value="{{ username }}" maxlength="20" required>
						</div>

						<div class="mb-3">
						    <label for="firstname">First Name: </label>
						    <input class="form-control" id="firstname" type="firstname" name="firstname" value="{{ firstname }}" maxlength="20" required>
						</div>
						<div class="mb-3">
						    <label for="lastname">Last Name: </label>
						    <input class="form-control" id="lasstname" type="lastname" name="lasstname" value="{{ lastname }}" maxlength="20" required>
						</div>
						<div class="mb-3">
						    <label for="email">Email: </label>
						    <input class="form-control" id="email" type="email" name="email" value="{{ email }}" maxlength="20" required>
						</div>
						<div class="mb-3">
						    <label for="password">Password: </label>
						    <input class="form-control" id="password" type="password" name="password" value="{{ password }}" maxlength="20" required>
						</div>	
						{% csrf_token %}					
						<div class="mb-3">
						    <label for="confirm_password">Confirm Password: </label>
						    <input class="form-control" id="password" type="confirm" name="password" value="{{ password }}" maxlength="20" required>
						</div>



						<div class="text-center">
					    	<input class="btn btn-success" type="submit" value="register">
						</div>

					</form>
				</div>
			</div>
		</div>

					   
{% endblock %}

